@media(max-width: 1200px){
    .register{
       gap: 20px;
    }

    .register .information{
        max-width: 450px;
    }

    .register .information .title{
        font-size: 3rem;
    }
    
    .register .information .text{
        font-size: 1.6rem;
    }
}

@media(max-width: 1090px){
    .register .information{
        margin-top: 70px;
    }
}

@media(max-width: 1000px){
    .register .information{
        margin-top: 100px;
    }
}

@media(max-width: 880px){
    .register .information .title{
        font-size: 2.7rem;
    }
    
    .register .information .text{
        font-size: 1.4rem;
    }
}

@media(max-width: 768px){
    body{
        background: url(../image/bg-mobile.svg) top center no-repeat;
        background-size: 100%;
        background-color: var(--violet);
    }

    .register{
        flex-direction: column;
        padding: 40px 40px 40px 40px;
    }

    .register .images .img-big{
        min-width: 350px;
    }

    .register .information{
        text-align: center;
    }

    .register .images .logo{
        width: 160px;
        margin-bottom: 55px;
    }

    .register .information .title{
        font-size: 3rem;
    }

    .register .information .text{
        font-size: 1.6rem;
    }

    .register .information .btn{
        padding: 12px 90px;
    }

    .register .social{
        position: initial;
        justify-content: center;
        margin-top: 100px;
    }
}