html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    background: url(../image/bg-desktop.svg) no-repeat left center;
    background-size: cover;
    background-color: var(--violet);
}

.register{
    max-width: 1440px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 55px;
}

.register .images{
    display: flex;
    flex-direction: column;
}

.register .images .logo{
    width: 215px;
    margin-bottom: 80px;
}

.register .images .img-big{
    padding: 0 10px;
    max-width: 100%;
    min-width: 430px;
}

.register .information{
    position: relative;
    max-width: 520px;
}

.register .information .title{
    margin-bottom: 20px;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}

.register .information .text{
    font-size: 1.8rem;
    color: rgb(230, 222, 222);
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.7rem;
}

.register .information .btn{
    font-size: 1.8rem;
    padding: 15px 63px;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.3s ease-in-out;
}

.register .information .btn:hover{
    background-color: var(--Soft-Magenta);
    color: white;
}

.register .social{
    display: flex;
    position: absolute;
    bottom: -170px;
    right: 15px;
}

.register .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: white;
    margin-left: 18px;
    transition: 0.3s ease-in-out;
}

.register .social a:hover{
    color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
}





